body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}
.imagem1{
    border-radius: 500px;
    border: 2px black;
}
.centro {
  text-align: center;
}
.faixa-topo{
  background-image: url("images/chico2.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}
h1{
    color: black;
}
.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #000000;
  padding: 10px;
  margin: 0;
}
.menu li {
  margin: 0 15px;
}
.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.menu a:hover {
  color: #00eeff;
}